<html>
    <head>
        <title> Add Change Request</title>
        <style>
            tr, td {
                height: 50px;
                width: 100px;
                text-align: center;
                border-collapse: collapse;
                
                
                
            }
        </style>
    </head>
    <body><center>
        
    <form method="post" action="{{ url_for('changerequest',id=id) }}">
        <table>
            <th colspan="2"> Change Request details</th>
            <tr>
                <td> Projects </td>
                <td> <select name="getproject" onchange="sendprjct(this.value)">
                    {% for val in project %}
                        <option value="{{ val.pr_id }}"> {{ val.pr_name }} </option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr> <td colspan="2"> <button type="button" name="button1"> <a href="{{ url_for('addchangerequest', id=id) }}"> Click here to go back and select the project </a> </button> </td></tr>
            <tr>
                <td> Module </td>
                <td> <select name="module">
                    {% for val in mod %}
                        <option value="{{ val.mo_id }}"> {{ val.mo_name }} </option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td> Change Description </td>
                <td> <textarea name="desc" rows="5" cols="30"></textarea></td>
            </tr>
            <tr>
                <td> <button type="submit" name="button1"> Add </button></td>
                <td> <button type="button"> <a href="{{ url_for('changerequest', id=id) }}"> Cancel </a> </button></td>
            </tr>
        </table>
    </form></center>
    </body>
    
</html>